<ion-header>
  <ion-toolbar>
    <ion-title>Mais sobre o texto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- alinha no centro e define pra coluna a resolucao de acordo com o tamanho da tela -->
    <ion-row justify-content-center>
      <!-- Deixa responsivo -->
      <ion-col size-sm="8" size-md="12" size-lg="3" size-xl="3">
        <form #form="ngForm">
          <ion-card>
            <ion-title>
              Titulo: {{tituloTela}}
            </ion-title>

            <ion-title>
                Texto: {{textoTela}}
              </ion-title>

              <ion-title>
                  Autor: {{autorTextoTela}}
                </ion-title>

                


          </ion-card>
  

          <ion-button expand="block" type="submit" class="login-button" color="dark">
            Voltar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
