<ion-header translucent>
  <ion-toolbar color="#FFFF">
    <ion-title style="text-align: center; font-size: 15pt">Mais informações</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-card style="background-color: lightcyan;">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 12pt;">Titulo do texto</ion-card-subtitle>
      <ion-card-title>{{tituloTela}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card style="background-color:lightgray;">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 12pt;">Autor do Texto</ion-card-subtitle>
      <ion-card-title *ngIf="!autorTextoTela">Autor não encontrado</ion-card-title>
      <ion-card-title>{{autorTextoTela}}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card style="background-color: lightsteelblue;">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 12pt;">Mais informações para você</ion-card-subtitle>
      <ion-card-title *ngIf="!maisInfoTela">
        Nenhuma informação extra foi cadastrada.
      </ion-card-title>
      <ion-card-title>{{maisInfoTela}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
