<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-menu-button autoHide="true"></ion-menu-button>
      <div>
        <ion-title>Para te ajudar neste momento</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
>
  <ion-fab-button
    routerLink="/emergencia/emergencia-utilizacao"
    routerDirection="forward"
    color="primary"
  >
    S.O.S
  </ion-fab-button>
</ion-fab>

<ion-content>


  <ion-card
    *ngFor="let texto of profissionalConteudoTexto"
    style="background-color:lightgray;"
    [routerLink]="['/menu/texto-detalhes', texto.id]"
  >
    <ion-card-header *ngIf="!tituloTextoTela">
      <ion-card-title hidden></ion-card-title>
    </ion-card-header>

    <ion-card-header *ngIf="tituloTextoTela">
      <ion-card-title>{{ texto.tituloTexto }}</ion-card-title>
    </ion-card-header>

    <ion-card-content
      *ngIf="descricaoTextoTela"
      style="text-align: center; font-size: 15pt;"
    >
      “{{ texto.texto }}”
    </ion-card-content>
    <ion-card-content
      *ngIf="!descricaoTextoTela"
      style="text-align: center;"
    >
      Nenhum texto foi cadastrado até o momento
    </ion-card-content>




    <ion-card-header>
      <ion-card-subtitle
        *ngIf="!autorTextoTela"
        style="text-align: right;"
      >
        Autor desconhecido
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="autorTextoTela"
        style="text-align: right;"
      >
        Autor: {{ texto.autorTexto }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item
      href
      class="activated"
      style="background-color: silver;"
      [routerLink]="['/menu/texto-detalhes', texto.id]"
    >
      <ion-label class="ion-text-center">Ver mais informações</ion-label>
    </ion-item>

  </ion-card>

  <ion-card *ngFor="let imagem of profissionalConteudoImagem">

    <ion-card-content *ngIf="imagem.imagem">
      <img
        src="{{imagem.imagem}}"
        width="540px"
        height="480px"
      >
    </ion-card-content>
    <ion-card-content *ngIf="!imagem.imagem">
      <ion-card-header style="font-size: 15pt; text-align: center;">Imagem não encontrada</ion-card-header>
    </ion-card-content>

    <ion-card-header *ngIf="!imagem.tituloImagem">
      <ion-card-title style="text-align: center;">Titulo não cadastrado</ion-card-title>
    </ion-card-header>


    <ion-card-header>
      <ion-card-title style="text-align: center;">{{imagem.tituloImagem}}</ion-card-title>
    </ion-card-header>

    <ion-item
      href
      class="activated"
      style="background-color: silver;"
      [routerLink]="['/menu/imagem-detalhes', imagem.id]"
    >
      <ion-label class="ion-text-center">Ver mais informações</ion-label>
    </ion-item>
  </ion-card>


  <ion-card *ngFor="let video of profissionalConteudoVideo">
    <!-- achar alguma forma de pegar a thumbs -->
    <img src="../../../assets/img/abrirmente.PNG">
    <ion-card-header>
      <ion-card-subtitle>Video do Youtube</ion-card-subtitle>
      <ion-card-title>{{video.tituloVideo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{video.descricaoVideo}}</ion-card-content>


    <ion-item
      href
      class="activated"
      style="background-color: silver;"
      [routerLink]="['/menu/video-detalhes', video.id]"
    >
      <ion-label class="ion-text-center">Assistir ao video</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
