<ion-app>
  <ion-split-pane>

    <ion-menu>

      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button autoHide="true"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-content>
        <ion-item>
          <ion-chip>
            <ion-avatar>
              <img src="{{ foto }}">
            </ion-avatar>

            <ion-label *ngFor="let v of listAC">Olá, {{ v.apelido }}</ion-label>
            <!-- mudar para o assistente, DPS  pega expecidfico -->
          </ion-chip>
        </ion-item>
        <ion-list>
          <ion-menu-toggle
            autoHide="false"
            *ngFor="let p of paginas; let i = index"
          >
            <ion-item [routerLink]="p.url">
              <ion-icon
                slot="start"
                [name]="p.icon"
              ></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Menus dos ADMS -->

          <ion-list *ngIf="isAdmin">
            <ion-menu-toggle
              autoHide="false"
              *ngFor="let a of paginasAdmin; let i = index"
            >
              <ion-item [routerLink]="a.url">
                <ion-icon
                  slot="start"
                  [name]="a.icon"
                ></ion-icon>
                <ion-label>{{a.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <!-- Menus dos profissionais -->

          <ion-list *ngIf="isProfissional">
            <ion-menu-toggle
              autoHide="false"
              *ngFor="let pagina of paginasProfissional; let i = index"
            >
              <ion-item [routerLink]="pagina.url">
                <ion-icon
                  slot="start"
                  [name]="pagina.icon"
                ></ion-icon>
                <ion-label>{{pagina.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-menu-toggle autoHide="false">
            <ion-item
              button
              (click)="signOut()"
            >
              <ion-icon
                slot="start"
                name="power"
              ></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
