<!-- <ion-header translucent>
  <ion-toolbar color="#FFFF">
    <ion-title style="text-align: center; font-size: 12pt">Divulgue uma frase de apoio</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-grid>
    <!-- alinha no centro e define pra coluna a resolucao de acordo com o tamanho da tela -->
    <ion-row justify-content-center>
      <!-- Deixa responsivo -->
      <ion-col
        size-sm="8"
        size-md="12"
        size-lg="3"
        size-xl="3"
      >
        <form #form="ngForm">
          <ion-card>
            <ion-card-header style="background-color: lightsteelblue;">
              <ion-card-title style="font-size: 17px; text-align: center;">Divulgue uma frase de apoio</ion-card-title>
            </ion-card-header>
            <ion-item>
              <ion-icon
                name="ios-bulb"
                color="dark"
                slot="start"
              ></ion-icon>
              <ion-textarea
                name="texto"
                autofocus="true"
                [(ngModel)]="todas.texto"
                required
                rows="3"
                cols="10"
                placeholder="Utilize este espaço para escrever..."
              ></ion-textarea>
            </ion-item>
          </ion-card>



          <ion-item
            href
            class="activated"
            color="primary"
          >
            <ion-toggle
              [(ngModel)]="mostraMaisInfo"
              (ionChange)="changeMaisInfo()"
              slot="end"
              name="maisInfo"
            ></ion-toggle>
            <ion-label class="ion-text-center">Preencher mais informações</ion-label>
          </ion-item>


          <ion-card
            style="background-color: lightsteelblue;"
            *ngIf="mostraMaisInfo"
          >
            <ion-item>
              <ion-icon
                name="add"
                slot="start"
                color="primary"
              >
              </ion-icon>
              <ion-input
                type="text"
                name="tituloTexo"
                placeholder="Titulo"
                autofocus="true"
                [(ngModel)]="todas.tituloTexto"
                required
              ></ion-input>
            </ion-item>


            <ion-item>
              <ion-icon
                name="add"
                slot="start"
                color="primary"
              >
              </ion-icon>
              <ion-input
                type="text"
                name="autorTexto"
                placeholder="Autor do texto"
                autofocus="true"
                [(ngModel)]="todas.autorTexto"
                required
              ></ion-input>
            </ion-item>


            <ion-item>
              <ion-icon
                name="add"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-textarea
                name="maisInfo"
                autofocus="true"
                [(ngModel)]="todas.maisInfoTexto"
                required
                rows="2"
                cols="5"
                placeholder="Informações complementares..."
              ></ion-textarea>
            </ion-item>
          </ion-card>


          <ion-item
            href
            class="activated"
            color="primary"
          >
            <ion-toggle
              [(ngModel)]="mostraFiltro"
              (ionChange)="changeFiltro()"
              slot="end"
              name="filtro"
            ></ion-toggle>
            <ion-label class="ion-text-center">Filtro de Conteúdos</ion-label>
          </ion-item>


          <ion-card *ngIf="mostraFiltro">
            <ion-card-header style="background-color: lightsteelblue;">
              <ion-card-title style="font-size: 17px; text-align: center;">Faixa etária destinada</ion-card-title>
            </ion-card-header>


            <ion-radio-group
              [(ngModel)]="todas.idade"
              name="selecionaIdade"
            >
              <ion-item>
                <ion-label>8 a 12 anos</ion-label>
                <ion-radio
                  name="8a12"
                  value="8 a 12"
                  slot="start"
                ></ion-radio>
              </ion-item>


              <ion-item>
                <ion-label>13 a 17 anos</ion-label>
                <ion-radio
                  name="13a17"
                  value="13 a 17"
                  slot="start"
                ></ion-radio>
              </ion-item>


              <ion-item>
                <ion-label>18 a 35 anos</ion-label>
                <ion-radio
                  name="18a35"
                  value="18 a 35"
                  slot="start"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>


            <ion-card-header style="background-color: lightsteelblue;">
              <ion-card-title style="font-size: 17px; text-align: center;">Nível de emergência</ion-card-title>
            </ion-card-header>


            <ion-radio-group
              [(ngModel)]="todas.nivelEmergencia"
              name="selecionaEmergencia"
            >
              <ion-item>
                <ion-label>Normal</ion-label>
                <ion-radio
                  name="normal"
                  value="normal"
                  slot="start"
                ></ion-radio>
              </ion-item>


              <ion-item>
                <ion-label>Preocupante</ion-label>
                <ion-radio
                  name="Preocupante"
                  value="preocupante"
                  slot="start"
                ></ion-radio>
              </ion-item>


              <ion-item>
                <ion-label>Urgente</ion-label>
                <ion-radio
                  name="urgente"
                  value="urgente"
                  slot="start"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>


            <ion-card-header style="background-color: lightsteelblue;">
              <ion-card-title style="font-size: 17px; text-align: center;">Avaliação do usuário</ion-card-title>
            </ion-card-header>


            <ion-row>
              <ion-item
                *ngFor="let star of stars; let i = index"
                tappable
                (click)="starClicked(i)"
                [(ngModel)]="todas.avaliacao"
                name="avaliacao"
              >
                <ion-icon
                  [name]="star"
                  color="primary"
                ></ion-icon>
              </ion-item>
            </ion-row>
          </ion-card>


          <ion-button
            expand="block"
            type="submit"
            class="login-button"
            (click)="saveTodo()"
            color="dark"
          >
            Criar conteúdo
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
