ion-card {
    ion-item{
      --border-radius: 10px;
    }
    img{
      width: 70%;
      margin: auto;
    }
  
  }
  
  .texto{
    color: black;
  }
  
  .erro-mensagens{
    font-size: 0.6em;
    color: red;
    text-align: left;
  }
  