<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Suas informações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <!-- alinha no centro e define pra coluna a resolucao de acordo com o tamanho da tela -->
    <ion-row justify-content-center>
      <!-- Deixa responsivo -->
      <ion-col
        size-sm="8"
        size-md="12"
        size-lg="3"
        size-xl="3"
      >


        <h1 style=text-align:center>
          <img
            src="../../../assets/img/avp.png"
            width="130px"
            height="100px"
          >
        </h1>

        <form #form="ngForm">

          <!-- NOME -->
          <ion-item>
            <ion-icon
              color="dark"
              name="person"
              slot="start"
            ></ion-icon>
            <ion-input
              type="text"
              name="nome"
              placeholder="Nome"
              autofocus="true"
              [(ngModel)]='todoUser.nome'
              required
            ></ion-input>
          </ion-item>

          <!-- PROFISSÃO -->


          <ion-item>
            <ion-icon
              name="md-briefcase"
              color="dark"
              slot="start"
            ></ion-icon>
            <ion-input
              type="text"
              name="profissao"
              placeholder="Profissão exercida"
              autofocus="true"
              [(ngModel)]='todoUser.profissao'
              required
            ></ion-input>
          </ion-item>

          <!-- EMAIL -->

          <ion-item>
            <ion-icon
              name="mail"
              color="dark"
              slot="start"
            ></ion-icon>
            <ion-input
              type="email"
              name="email"
              placeholder="E-mail"
              inputmode="email"
              autofocus="true"
              [(ngModel)]='todoUser.email'
              required
            ></ion-input>
          </ion-item>

          <!-- SENHA -->

          <ion-item>
            <ion-icon
              name="lock"
              color="dark"
              slot="start"
            ></ion-icon>
            <ion-input
              type="password"
              name="password"
              placeholder="Senha"
              [(ngModel)]='todoUser.senha'
              required
            ></ion-input>
          </ion-item>

          <!-- BOTÃO DE CADASTRO -->


          <ion-button
            expand="block"
            type="submit"
            class="login-button"
            (click)="concluiCadastro()"
            color="dark"
          >
            Colaborar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
