<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
      <!-- alinha no centro e define pra coluna a resolucao de acordo com o tamanho da tela -->
      <ion-row justify-content-center>
        <!-- Deixa responsivo -->
        <ion-col
          size-sm="8"
          size-md="12"
          size-lg="3"
          size-xl="3"
        >
        <form #form="ngForm">
  
    
            <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>{{nomeUsuarioLogado}}</ion-card-subtitle>
                  <ion-card-title style="font-size: 17px; text-align: center;" >No que você está pensando agora ?</ion-card-title>
              </ion-card-header>

                <ion-item>
                    <ion-textarea
                      name="textoLivre"
                      autofocus="true"
                      [(ngModel)]='todas.textoLivre'
                      required
                      rows="5"
                      cols="15"
                      placeholder="Escreva seu texto aqui ..."
                    ></ion-textarea>
                </ion-item>
            </ion-card>

            <ion-card>
             
                <ion-card-header>
                  <ion-card-title style="font-size: 17px; text-align: center;" >Como você está nesse momento ?</ion-card-title>
                </ion-card-header>

               <ion-row>
                <ion-item
                    *ngFor="let star of stars ; let i = index"
                    tappable
                    (click)="starClicked(i)"
                    [(ngModel)]="todas.avaliacao"
                    name="avaliacao"
                >
                    <ion-icon [name]="star"></ion-icon>
                </ion-item>
              </ion-row>
             
            </ion-card>

            <ion-button
            expand="block"
            type="submit"
            class="login-button"
            (click)="saveTodo()"
            color='dark'
          >
            Enviar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
