<ion-header>
  <ion-toolbar color="light">

    <ion-buttons>
      <ion-menu-button autoHide="true"></ion-menu-button>
      <div>
        <ion-button
          shape="round"
          fill="outline"
          (click)="direcionaPraTelaCadastro()"
        >
          Novo conteúdo
        </ion-button>
      </div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header translucent>
  <ion-toolbar translucent>
    <ion-title style="text-align: center; font-size: 13pt">Gerencie seus conteúdos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- RESPONSÁVEL PELOS TEXTOS-->
  <ion-list>

      <ion-header translucent>
          <ion-toolbar translucent color="amareloprofissional">
            <ion-title style="font-size: 13pt">Seus textos cadastrados</ion-title>
          </ion-toolbar>
        </ion-header>


    <ion-item-sliding
      *ngFor="let texto of profissionalConteudoTexto"
    >
      <ion-item lines="full" class="testeAmarelo">
        <ion-col style="text-align: center;">
          <ion-row class="ion-padding">
            <ion-label  style="color: black;">Frase Cadastrada</ion-label>

          </ion-row>
          <ion-col  style="color: black;">
            <ion-text style="text-align: center; font-size: 15pt;">{{ texto.texto }}</ion-text>
          </ion-col>
        </ion-col>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option
          [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-texto', texto.id]"
        >
          <ion-icon
            slot="icon-only"
            name="ios-construct"
          ></ion-icon>
          Editar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">

        <ion-item-option
          color="danger"
          (click)="removeTexto(texto.id)"
        >
          <ion-icon
            slot="icon-only"
            name="md-trash"
          ></ion-icon>
          Remover
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


  <!-- RESPONSÁVEL PELAS IMAGENS-->

  <ion-list>
      <ion-header translucent>
          <ion-toolbar translucent color="primary">
            <ion-title style="font-size: 13pt">Suas imagens cadastradas</ion-title>
          </ion-toolbar>
        </ion-header>

    <ion-item-sliding
    *ngFor="let imagem of profissionalConteudoImagem"

    >


      <ion-item lines="full">
        <ion-col>
        <ion-row>
            <ion-col  style="color: black;">
                <img
                src="{{imagem.imagem}}"
                width="180px"
                height="150px"
              >
              </ion-col>
          <ion-col>
            <ion-row class="ion-padding">
              <ion-label  style=" font-size:16pt; color: black;">Titulo da imagem</ion-label>
              <ion-text style="font-size: 12pt;">{{ imagem.tituloImagem }}</ion-text>
            </ion-row>
            <ion-row class="ion-padding">
                <ion-label  style=" font-size:16pt; color: black;">Autor da Imagem</ion-label>
                <ion-text style="font-size: 12pt;">{{ imagem.autorImagem }}</ion-text>
              </ion-row>
          </ion-col>


        </ion-row>
      </ion-col>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option
          [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-imagem', imagem.id]"
        >
          <ion-icon
            slot="icon-only"
            name="ios-construct"
          ></ion-icon>
          Editar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">

        <ion-item-option
          color="danger"
          (click)="removeImagem(imagem.id)"
        >
          <ion-icon
            slot="icon-only"
            name="md-trash"
          ></ion-icon>
          Remover
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

    <!-- RESPONSÁVEL PELOS VIDEOS-->

    <ion-list>
        <ion-header translucent>
            <ion-toolbar translucent color="tertiary">
              <ion-title style="font-size: 13pt">Seus videos cadastrados</ion-title>
            </ion-toolbar>
          </ion-header>

        <ion-item-sliding
        *ngFor="let video of profissionalConteudoVideo"
        >


          <ion-item lines="full">
            <ion-col>

            <ion-row>

              <ion-col>
                <ion-row class="ion-padding">
                  <ion-label  style=" font-size:16pt; color: black;">Titulo do video</ion-label>
                  <ion-text style="font-size: 12pt;">{{ video.tituloVideo }}</ion-text>
                </ion-row>
                <ion-row class="ion-padding">
                    <ion-label  style=" font-size:16pt; color: black;">Autor do video</ion-label>
                    <ion-text style="font-size: 12pt;">{{ video.autorVideo }}</ion-text>
                  </ion-row>
              </ion-col>

              <ion-col>
                  <!-- ver se consigo pegar dinamico a THUMB -->
                    <img
                    src="../../../assets/img/abrirmente.PNG"
                    width="180px"
                    height="150px"
                  >
                  </ion-col>


            </ion-row>
          </ion-col>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option
              [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-video', video.id]"
            >
              <ion-icon
                slot="icon-only"
                name="ios-construct"
              ></ion-icon>
              Editar
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">

            <ion-item-option
              color="danger"
              (click)="removeVideo(video.id)"
            >
              <ion-icon
                slot="icon-only"
                name="md-trash"
              ></ion-icon>
              Remover
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

</ion-content>
