<ion-header>
  <ion-toolbar color="success">

    <ion-buttons>
      <ion-menu-button autoHide="true"></ion-menu-button>
      <div>
        <ion-button
          shape="round"
          fill="outline"
          (click)="direcionaPraTelaCadastro()"
        >
          Novo conteúdo
        </ion-button>
      </div>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header translucent>
  <ion-toolbar translucent>
    <ion-title style="text-align: center; font-size: 13pt">Gerencie seus conteúdos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding
      *ngFor="let texto of profissionalConteudoTexto"
      style="background-color:lightyellow;"
    >

      <ion-item style="color:darkgreen;">
        <ion-col>
          <ion-row>
            <ion-label>Frase Cadastrada</ion-label>

          </ion-row>
          <ion-col>
            <ion-text style="text-align: center; font-size: 15pt;">{{ texto.texto }}</ion-text>
          </ion-col>
        </ion-col>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option
          (click)="unread(item)"
          [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-texto', texto.id]"
        >
          <ion-icon
            slot="icon-only"
            name="ios-construct"
          ></ion-icon>
          Editar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">

        <ion-item-option
          color="danger"
          (click)="remove(texto.id)"
        >
          <ion-icon
            slot="icon-only"
            name="md-trash"
          ></ion-icon>
          Remover
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- Looping dos textos -->
  <ion-card
    *ngFor="let texto of profissionalConteudoTexto"
    style="background-color:lightyellow;"
    [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-texto', texto.id]"
  >
    <ion-card-header>
      <ion-card-subtitle>Frase cadastrada</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center; font-size: 15pt;">“{{ texto.texto }}”</ion-card-content>
  </ion-card>

  <!-- Looping das imagens -->
  <ion-card
    *ngFor="let imagem of profissionalConteudoImagem"
    style="background-color:lightcyan;"
    [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-imagem', imagem.id]"
  >
    <ion-card-header>
      <ion-card-subtitle>Imagem cadastrada</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img
        src="{{imagem.imagem}}"
        width="540px"
        height="480px"
      >
    </ion-card-content>

    <ion-card-header>
      <ion-card-title style="text-align: center;">{{imagem.tituloImagem}}</ion-card-title>
    </ion-card-header>

  </ion-card>

  <!-- Looping dos Videos -->

  <ion-card
    *ngFor="let video of profissionalConteudoVideo"
    style="background-color:lightsteelblue;"
    [routerLink]="['/menu/profissional-conteudo/profissional-conteudo-video', video.id]"
  >
    <ion-card-header>
      <ion-card-subtitle>Video cadastrado</ion-card-subtitle>
    </ion-card-header>

    <!-- achar alguma forma de pegar a thumbs -->
    <img src="../../../assets/img/abrirmente.PNG">
    <ion-card-header>
      <ion-card-subtitle>Video do Youtube</ion-card-subtitle>
      <ion-card-title>{{video.tituloVideo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{video.descricaoVideo}}</ion-card-content>
  </ion-card>

</ion-content>
