<ion-content padding>
  <ion-grid>
    <!-- alinha no centro e define pra coluna a resolucao de acordo com o tamanho da tela -->
    <ion-row justify-content-center>
      <ion-col
        size-sm="8"
        size-md="12"
        size-lg="3"
        size-xl="3"
      >
     <!-- arrumar essas pohha de padding -->

      
    <h1 style=text-align:center>
      <img src="../../../assets/img/avp.png" width="180px" height="160px">
    </h1>
        

      
      <form #form="ngForm">
        <ion-item>
            <ion-icon 
              id="corRoxa"
              name="mail"
              slot="start"
            ></ion-icon>
            <ion-input
              type="email"
              name="email"
              placeholder="Informe seu e-mail"
              inputmode="email"
              autofocus="true"
              [(ngModel)]="user.email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon
              id="corRoxa"
              name="lock"
              slot="start"
            ></ion-icon>
            <ion-input
              type="password"
              name="password"
              placeholder="Informe sua senha"
              [(ngModel)]="user.password"
              required
            ></ion-input>
          </ion-item>
        </form>

        <ion-content>
    <ion-button
    expand="block"
    type="submit"
    color="secondary"
    (click)="signIn()"
    

  >
    Acessar
  </ion-button>

<ion-button
  expand="block"
  fill="clear"
  (click)="createAccount()"
>
  Participar
</ion-button>

</ion-content>
          

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
