<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons>
      <ion-back-button defaultHref="menu/profissional-todos-conteudos"></ion-back-button>
      <div>
        <ion-title>Cadastro de conteúdos</ion-title>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button
        tab="profissional-conteudo-texto"
        (click)="profissionalConteudoTexto()"
      >
        <ion-icon name="ios-text"></ion-icon>
        <ion-label>Texto</ion-label>
      </ion-tab-button>

      <ion-tab-button
        tab="profissional-conteudo-imagem"
        (click)="profissionalConteudoImagem()"
      >
        <ion-icon name="ios-images"></ion-icon>
        <ion-label>Imagem</ion-label>
      </ion-tab-button>

      <ion-tab-button
        tab="profissional-conteudo-video"
        (click)="profissionalConteudoVideo()"
      >
        <ion-icon name="ios-videocam"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
