<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Personalize seu assistente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <form [formGroup]="formgroup">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-input
                type="text"
                formControlName="assistente"
                placeholder="Escolha um 'apelido' para seu assistente"
                [(ngModel)]='todas.apelido'
                required
              ></ion-input>
              <div class="erro-mensagens">
                <ng-container *ngFor="let error of errorMensagens.assistente">
                  <div *ngIf="formgroup.get('assistente').hasError(error.type) && (formgroup.get('assistente').dirty || formgroup.get('assistente').touched)">{{ error.mensagem }}</div>
                </ng-container>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-grid fixed>
                <ion-col size="12">
                  <ion-item (click)="abrirGaleria()">
                    <ion-icon
                      name="add"
                      color="success"
                      slot="start"
                    ></ion-icon>
                    Clique aqui e escolha
                  </ion-item>
                </ion-col>
                <div *ngIf="listAssistente">
                  <ion-avatar class="contact-avatar">
                    <img
                      *ngFor="let assistente of listAssistente"
                      src='{{assistente.icone}}'
                      height="280"
                      width="240"
                    >
                  </ion-avatar>
                  <ion-card-header>
                    <ion-card-subtitle style="text-align: center;">Foto atual do assistente</ion-card-subtitle>
                  </ion-card-header>
                </div>

                <div *ngIf="photo != ''">
                   <ion-avatar class="contact-avatar">
                  <img
                    [src]='photo'
                    [(ngModel)]='todas.icone'
                    height="240px"
                    width="180px"
                  >
                  </ion-avatar>
                  <ion-card-header>
                    <ion-card-subtitle>Foto escolhida para o assistente</ion-card-subtitle>
                  </ion-card-header>
                </div>
              </ion-grid>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-button
              expand="full"
              (click)="saveTodo()"
              color="success"
              [disabled]="formgroup.invalid"
            >
              Pronto
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>
</ion-content>
