
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home" color="success"></ion-back-button>
    </ion-buttons>
      <ion-title color="success">Personalize seu assistente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%">
  <ion-row justify-content-center align-items-center style="height: 100%">
    <form [formGroup]="formgroup">
     <ion-row>

       <ion-card-content>
         
        <ion-card style="background-color: lightgreen;" >
            <ion-card-header>
              <ion-card-title style="font-size: 17px; text-align: center;">Apelido ou Nome</ion-card-title>
            </ion-card-header>
          
            <ion-item>
              <ion-input
              type="text"
              formControlName="assistente"
              placeholder="Escreva aqui..."
              [(ngModel)]='todas.apelido'
              required
              ></ion-input>
                
              </ion-item>
          </ion-card>
          
          <ion-card style="background-color: lightgreen;" >
              <ion-card-header>
                <ion-card-title style="font-size: 17px; text-align: center;">Foto ou Icone</ion-card-title>
                </ion-card-header>
                <ion-item (click)="abrirGaleria()">
                    <ion-icon
                      name="add"
                      color="success"
                      slot="start"
                    ></ion-icon>
                    Clique aqui e escolha
                  </ion-item>
                </ion-card>
          
          <ion-card *ngIf="photo != ''">
                <ion-avatar class="contact-avatar">
               <img
                 [src]='photo'
                 [(ngModel)]='todas.icone'
                 height="240px"
                 width="180px"
               >
               </ion-avatar>
               <ion-card-header>
                 <ion-card-subtitle style="text-align: center;">Foto escolhida para seu assistente</ion-card-subtitle>
               </ion-card-header>
              </ion-card>
      </ion-card-content>
    </ion-row>
            <ion-button
            shape="round"
            fill="outline"
            expand="block"
            (click)="saveTodo()"
            color="success"
            [disabled]="formgroup.invalid"
            >
            Pronto
          </ion-button>
      </form>
  </ion-row>
</ion-grid>
</ion-content>



