<ion-app *ngIf="!admin">
<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons>
      <ion-menu-button autoHide="true"></ion-menu-button>
      <div>
      <ion-button
        shape="round"
        fill="outline"
        (click)="direcionaPraTela()"
      >
        Quero Conversar
      </ion-button>
    </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
>
  <ion-fab-button
    routerLink="/emergencia/emergencia-utilizacao"
    routerDirection="forward"
    color="secondary"
  >
    S.O.S
  </ion-fab-button>
</ion-fab>

<ion-content>
    <ion-header translucent>
        <ion-toolbar>
          <ion-title style="text-align: center; font-size: 15pt"> Recomendados para você</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-card>
          <img src="../../../assets/img/fraseamigos.PNG"/>
        </ion-card>
      
        <ion-card>
          <img src="../../../assets/img/serfeliz.PNG"/>
          <ion-card-header>
            <ion-card-subtitle>Video do Youtube</ion-card-subtitle>
            <ion-card-title>O que é felicidade pra você ?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              entendi ao longo da jornada que sentir-se feliz não depende do que se tem 💰 
               mas sim, do quanto somos capazes de gerenciar a si mesmo, o motivo é simples... #redpill
          </ion-card-content>

            <ion-item href="" class="activated" style="color: lightseagreen">
                <ion-label class="ion-text-center">Assistir ao video completo</ion-label>
            </ion-item>
        </ion-card>
      
        
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Frase do dia</ion-card-subtitle>
              <ion-card-title>Sobre o amor</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                “Você é quem decide o que vai ser eterno em você, no seu coração.
                Deus nos dá o dom de eternizar em nós o que vale a pena, e esquecer definitivamente aquilo que não vale.”
            </ion-card-content>

            <ion-item href="" class="activated" style="color: lightseagreen">
                <ion-label class="ion-text-center">Ver mais informações</ion-label>
            </ion-item>
          </ion-card>
           
          <ion-card>
              <img src="../../../assets/img/tulipas.PNG"/>
              <ion-card-header>
                <ion-card-subtitle>Foto do dia</ion-card-subtitle>
                <ion-card-title>A vida é colorida, aproveite todos os momentos.</ion-card-title>
              </ion-card-header>
             
                <ion-item href="" class="activated" style="color: rgb(101, 221, 215)">
                    <ion-label class="ion-text-center">Ver mais informações</ion-label>
                </ion-item>
    
            </ion-card>

            <ion-card>
                <img src="../../../assets/img/abrirmente.PNG"/>
                <ion-card-header>
                  <ion-card-subtitle>Video do Youtube</ion-card-subtitle>
                  <ion-card-title>Compreenda a sí mesmo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Compreenda  A Si Mesmo E Ao Universo Com Esse Vídeo! Um vídeo para pararmos e refletirmos sobre tudo aquilo que está a nossa volta e as crenças que temos sobre FOCO e PRESENÇA
                    Depois desse vídeo você vai saber a como aproveitar a vida muito mais!
                </ion-card-content>
      
                  <ion-item href="" class="activated" style="color: lightseagreen">
                      <ion-label class="ion-text-center">Assistir ao video completo</ion-label>
                  </ion-item>
              </ion-card>

              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Frase</ion-card-subtitle>
                    <ion-card-title>Familia</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      Amo minha família do jeito que é; pode não ser perfeita, mas o que importa é que nela sobram amor e compreensão.
                  </ion-card-content>
      
                  <ion-item href="" class="activated" style="color: lightseagreen">
                      <ion-label class="ion-text-center">Ver mais informações</ion-label>
                  </ion-item>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Frase</ion-card-subtitle>
                      <ion-card-title>Amigos</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Enquanto alguns escolhem pessoas perfeitas, eu escolho as que me fazem bem.
                    </ion-card-content>
        
                    <ion-item href="" class="activated" style="color: lightseagreen">
                        <ion-label class="ion-text-center">Ver mais informações</ion-label>
                    </ion-item>
                  </ion-card>
            
          
</ion-content>
</ion-app>


<ion-app *ngIf="admin">
  <ion-header>
    <ion-toolbar color="secondary">
  
      <ion-buttons>
        <ion-menu-button autoHide="true"></ion-menu-button>
        <div>
          <ion-title>Proporcionando conteúdos</ion-title>
      </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">

        <ion-tab-button
          tab="profissional-conteudo-texto"
          (click)="profissionalConteudoTexto()"
        >
          <ion-icon name="ios-text"></ion-icon>
          <ion-label>Texto</ion-label>
        </ion-tab-button>
  
        <ion-tab-button
          tab="profissional-conteudo-imagem"
          (click)="profissionalConteudoImagem()"
        >
          <ion-icon name="ios-images"></ion-icon>
          <ion-label>Imagem</ion-label>
        </ion-tab-button>
  
        <ion-tab-button
          tab="profissional-conteudo-video"
          (click)="profissionalConteudoVideo()"
        >
          <ion-icon name="ios-videocam"></ion-icon>
          <ion-label>Video</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
    
</ion-content>
</ion-app>
